<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @carrera.clave %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @carrera.descripcion %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @carrera.campus %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @carrera.municipio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @carrera.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @carrera.pais %>
</p>

<p>
  <strong>Coordinador:</strong>
  <%= @carrera.coordinador %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
