<%= form_with(model: idioma, local: true) do |form| %>
  <% if idioma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idioma.errors.count, "error") %> prohibited this idioma from being saved:</h2>

      <ul>
      <% idioma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :hablantes %>
    <%= form.number_field :hablantes %>
  </div>

  <div class="field">
    <%= form.label :puesto %>
    <%= form.number_field :puesto %>
  </div>

  <div class="field">
    <%= form.label :familia %>
    <%= form.text_field :familia %>
  </div>

  <div class="field">
    <%= form.label :dialectos %>
    <%= form.text_field :dialectos %>
  </div>

  <div class="field">
    <%= form.label :escritura %>
    <%= form.text_field :escritura %>
  </div>

  <div class="field">
    <%= form.label :reguladoPor %>
    <%= form.text_field :reguladoPor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
