<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @idioma.nombre %>
</p>

<p>
  <strong>Region:</strong>
  <%= @idioma.region %>
</p>

<p>
  <strong>Hablantes:</strong>
  <%= @idioma.hablantes %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @idioma.puesto %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @idioma.familia %>
</p>

<p>
  <strong>Dialectos:</strong>
  <%= @idioma.dialectos %>
</p>

<p>
  <strong>Escritura:</strong>
  <%= @idioma.escritura %>
</p>

<p>
  <strong>Asociacion:</strong>
  <%= @idioma.asociacion_id %>
</p>

<%= link_to 'Editar', edit_idioma_path(@idioma) %> |
<%= link_to 'Regresar', idiomas_path %>
