    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand " href="#">Proyecto</a>
       <%= link_to "Autores", autores_path, class: "navbar-brand"%>
       <%= link_to "Editoriales", editoriales_path, class: "navbar-brand"%>
       <%= link_to "Generos", generos_path, class: "navbar-brand"%>
       <%= link_to "Idiomas", idiomas_path, class: "navbar-brand"%>
       <%= link_to "Carrera", carreras_path, class: "navbar-brand"%>
       <%= link_to "Roles", inicio_rol_path, class: "navbar-brand"%>
       <%= link_to "Especialidades", inicio_especialidades_path, class: "navbar-brand"%>
       <%= link_to "Libros", inicio_libros_path, class: "navbar-brand"%>
       <%= link_to "Personas", inicio_personas_path, class: "navbar-brand"%>
       <%= link_to "Prestamos", inicio_prestamos_path, class: "navbar-brand"%>
       <%= link_to "Asociaciones", inicio_asociaciones_path, class: "navbar-brand"%>
       <%= link_to "Coordinadores", inicio_coordinadores_path, class: "navbar-brand"%>
       <%= link_to "Presidentes", inicio_presidentes_path, class: "navbar-brand"%>
       <%= link_to "Proveedores", inicio_proveedores_path, class: "navbar-brand"%>
       <%= link_to "Edificios", inicio_edificios_path, class: "navbar-brand"%>
    </nav>